<!DOCTYPE html>
<head>
	<title>
		Gameroom
	</title>
	<link href = "/css/home.css" type = "text/css" rel = "stylesheet">
  <link href = "/css/services.css" type = "text/css" rel = "stylesheet">
  <link href = "/css/products.css" type = "text/css" rel = "stylesheet">
  <link href = "/css/contact.css" type = "text/css" rel = "stylesheet">
</head>
<body>
<div id = "navbar">
	<ul>
		<li class = "imp">Game<b>room</b></li>
		<li id = "navi" class = "<%= "selected" if request.path_info == "/" %>"><a href = "/">Home</a></li>
    <li id = "navi" class = "<%= "selected" if request.path_info == "/contact" %>"><a href = "/contact">Locations</a></li>
		<li id = "navi" class = "<%= "selected" if request.path_info == "/products" %>"><a href = "/products">Products</a></li>
		<li id = "navi" class = "<%= "selected" if request.path_info == "/services" %>"><a href = "/services">Services</a></li>
		<li id = "navi" class = "<%= "selected" if request.path_info == "/about" %>"><a href = "/about">About</a></li>
		
	</ul>
</div>
<%= yield %>
</body>